* {
	border: none;
	border-radius: 0px;
}

window {
	font-size: 20px;
	font-family: "CascaydiaCove Nerd Font";	
	background-color: rgba(0, 0, 0, 1.0);
	color: #4c516d;
}

#entry {
	padding: 0.50em;
}

#entry:selected {
	background-color: #bbccdd;
	background: linear-gradient(90deg, #241571, #0492c2);
}

#text:selected {
	color: #D6BCB1;
}

#input {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 0.25em;
}




